$theme-pink:#29166F;
$darktheme-pink: #B212CA;
$theme-pinkbrand:#29166F;
$theme-white:#fff;
$theme-boxshadow:#DBDBDB;
$theme-blue:#461AA3;
$theme-darkblue:#3330E6;
$theme-purple:#702FE3;
$theme-black:#1E1E1E;
$theme-blackbrand:#000;
$theme-gray:#ECEEF0;
$theme-border:#CCCCCC;
$theme-para:#272727B3;
$theme-modal:#272727;
$theme-modalbg:#FEF9FF;
$theme-stroke:#707070;
$theme-success: #08AC72;
$theme-lightgray:#676767;
$theme-voilet:#F1EBFF;
$theme-lightvoilet:#E1D2FF;
$theme-profile:#DDCCFF;
$theme-lightpink:#F8E9FA;
$theme-red:#CC2C2C;
$theme-yellow:#FEE8CE;
$--font-20:20px;
$--font-12:12px;



